
/* this code changing the scroll bar in the whole app*/
/*-----------------------  */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #BFC5DC33;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover {

}
/*-----------------------  */

.chatContainer {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}
